<div class="row justify-content-center mt-4">
     <div class="col-lg-4 bg-white rounded shadow-sm p-5">
      <h1 class="mb-3">🗒 <%= @task.title %></h1>
      <div id="todosContainer">
        <div class="shadow-sm rounded px-4 py-3 mb-2 border d-flex">
          <input class="d-flex form-check-input me-1 " type="checkbox" <% if @task.completed %> checked <% end %>>
          <div class="title"><%= @task.details %></div>
        </div>
        <%= link_to 'Modify task', edit_task_path , class: 'btn btn-primary' %>
        <%= link_to 'back to the list', tasks_path , class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
